{% extends "home.html" %}

{% load static %}

{% block contenido %}

<div class="disney-container" style="position: relative; justify-content: center; width: 100%; min-height: 100vh; overflow: hidden; background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/29345hd.jpg); background-repeat: no-repeat; background-position-x: center; background-position-y: center; background-size: cover; background-attachment: fixed;">
    <div class="disney-title" style="margin-left: 20px; margin-top: 20px;">
        <h1 style="color: white;">Disney+</h1>
    </div>
    <div class="disney-list" style="margin-left: 40px;">

        {% for seriesDisney in listadisney %}

        <div class="disney-object" style="margin-bottom: 50px;">
            <div class="disney-data">
                <img class="disney-object-img" width="400px" height="300px" src="{{ seriesDisney.photo }}" alt="">
                <p style="color:white ; font-weight: bold; opacity: 0.5;">IMDB {{ seriesDisney.qualification }}</p>
                <h5 style="color:white; font-weight: bold;">{{ seriesDisney.title }}</h5>
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="netflix-button" style="margin-bottom: 40px; text-align: center;">
        <a href="{% url 'disneyForm' %}"><button style="background-color: red; color: white; font-weight: bold;">Agregar serie</button></a>
    </div>
</div>

{% endblock %}
