{% extends "home.html" %}

{% load static %}

{% block contenido %}


<div class="hbo-container" style="position: relative; justify-content: center; width: 100%; min-height: 100vh; overflow: hidden; background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/29345hd.jpg); background-repeat: no-repeat; background-position-x: center; background-position-y: center; background-size: cover; background-attachment: fixed;">
    <div class="hbo-title" style="margin-left: 20px; margin-top: 20px;">
        <h1 style="color: white;">HBO Max</h1>
    </div>
    <div class="hbo-list" style="margin-left: 40px;">

        {% for seriesHBO in listahbo %}

        <div class="hbo-object" style="margin-bottom: 50px;">
            <div class="hbo-data">
                <img class="hbo-object-img" width="400px" height="300px" src="{{ seriesHBO.photo }}" alt="">
                <p style="color:white; font-weight: bold; opacity: 0.5;">IMDB {{ seriesHBO.qualification }}</p>
                <h5 style="color:white; font-weight: bold;">{{ seriesHBO.title }}</h5>
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="hbo-button" style="margin-bottom: 40px; text-align: center;">
        <a href="{% url 'hboForm' %}"><button style="background-color: #6610f2; color: white; font-weight: bold;">Agregar serie</button></a>
    </div>
</div>

{% endblock %}

